<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATH" value="logs"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <logger name="org.springframework.web" level="INFO"/>

    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_PATH}/ubs-server.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/ubs-server_%d{dd-MM-yyyy}_%i.log</fileNamePattern>
            <maxFileSize>40MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>50MB</totalSizeCap>
        </rollingPolicy>

    </appender>

    <root level="INFO">
        <appender-ref ref="SAVE-TO-FILE"/>
    </root>

    <logger name="edu.bator" additivity="false" level="DEBUG">
        <appender-ref ref="SAVE-TO-FILE"/>
    </logger>

    <springProfile name="local, test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger name="edu.bator" additivity="false" level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
</configuration>